

.configWrapper {
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: none;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.configWrapper.visible {
    cursor: pointer;
}

.configWrapper .closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    z-index: 102;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
}
.configWrapper.visible .closeButton {
    opacity: 1;
}

.configWrapper .closeButton button {
    background-color: #fff;
    color: #000;
}
.configWrapper .closeButton button:focus {
    outline: none;
}

.configWrapper .closeButton.open button {
    background-color: #000;
    color: #fff;
}

.configWrapper.visible .closeButton {
    display: none;
    display: block;
}

.configWrapper .closeButton i {
    margin-top: 3px;
}

.configWrapper .configPanel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 101;
}

.configWrapper .configPanel.open {
    display: block;
}

.configWrapper .configPanel > div {
    padding-left: 20px;
    overflow: auto;
    height: 100%;
}

.configWrapper .configDay:last-child {
    padding-bottom: 40px;
}

.configWrapper button {
    border-radius: 50%;
    border: 2px solid white;
    width: 34px;
    height: 34px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 0;
}

.configWrapper button.active {
    background-color: #fff;
    color: #000;
}

.configWrapper button span {
    margin-top: 1px;
    width: 28px;
    text-align: center;
    display: inline-block;
}
