

.weather {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    
    background-color: #000;
    z-index: 100;
    
    font-size: 1.3em;
    font-weight: 500;
    color: #bbb;
}
.weather .inner {
    padding-left: 20px;
    padding-right: 20px;
}
.weather table {
    position: relative;
    top: -8px;
    width: 100%;
}

.weather .dataPoint {
    text-align: center;
}

.weather .dataPoint.dp-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.weather .dataPoint:first-child {
    text-align: left;
}
.weather .dataPoint:last-child {
    text-align: right;
}
/*
.weather table {
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
}*/
.weather .dataPoint .day {
}
.weather .dataPoint .day small {
    font-size: 0.67em;
}
.weather .dataPoint .weatherType {
    font-size: 1.4em;
    color: #fff;
}
.weather .dataPoint .weatherType i {
    margin-left: 5px;
    margin-right: 5px;
}
.weather .dataPoint .temp {
    color: #fff;
}
.weather .dataPoint .wind {
    font-size: 0.8em;
    padding-left: 4px;
}
